@page
@model SpaceChristmas_UX.MasterModel
@{
    ViewData["Title"] = "Master";
}

<h1>@ViewData["Title"]</h1>

<body onload="loadScreen()">
    <center>
        <div id="gameCanvas" style="background-color:#000000;width:700px;height:500px;">
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Coordinates to Nal Hutta 100,50,75</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Hutts will challenge you to a game of 21</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Hutts can be very tempermental. They love to send bounty hunters after those who cross them. Be careful</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: You need to negotiate for safe passage through Hutt space</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Coordinates to kessel 200,75,25</button>
            <br />

            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: hutts angry. incoming bounty hunters. jump to hyperspace</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Bounty hunters will locate you on kessel, make sure to make things quick on kessel.</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Hutts will not allow you to travel back through hutt space</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Coordinates to nebula cloud 200,100,25</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: the people of kessel will likely give you an initial fuel shipment</button>
            <br />

            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Manual flight is required through the nebula cloud.</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Be cautious of the gravity fields. They will be marked on the map.</button>
            <button class="btn btn-warning" onclick="triggerThrusterFlight()">Trigger Thruster Flight</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Coordinates to Mandalore 100,150,100</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Mandalorians can be very aggressive. Be cautious going through mandalorian space.</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: </button>
            <br />
            
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: </button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Coordinates to alderaan 0,0,0</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: urgent: your presents have been stolen by the sith and relocated to the planet dathomir</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: Coordinates to Dathomir 50,150,100</button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: </button>
            <button class="btn btn-primary" onclick="sendMessage(this)">NASA Control to Shadow 5: </button>
        </div>
    </center>
</body>
<script src="~/js/MasterController.js"></script>