@page
@model PrivacyModel
@{
    ViewData["Title"] = "Right Wing";
}
<h1>@ViewData["Title"]</h1>

<div>
    <body onload="startGame()">
        <div id="myfilter" style="position:absolute;background-color:#000000;opacity:0.3;width:500px;height:300px;display:none"></div>
        <div id="myrestartbutton" style="position:absolute;padding-top:75px;padding-left:120px;display:none;"><button onclick="restartGame()">Try Again?</button></div>
        <div id="gameCanvas"></div>
    </body>
    <script src="~/js/GameController.js" />
</div>
